@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root{
    --v-dark_l: #24282D;
    --v-dark: #2B2F34;
}

*{
    margin: 0;
    color: white;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

header{
    background-color: var(--v-dark_l);
    height: 5vh;
    width: 100vw;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 2vw;

    position: fixed;
}

ol{
    padding: 0;
    display: inline;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 2vw;
}

li{
    display: inline;
    list-style: none;
}

body{
    overflow-x: hidden;
    background-color: var(--v-dark);
    width: 100vw;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}

main{
    text-align: center;
    width: 40vw;
}

main section{
    margin-top: 10vh;
}

section *{
    margin-top: 2vh;
}

h1{
    font-size: 6vh;
}

h2{
    font-size: 4vh;
}

p{
    font-size: 2vh;
}

footer{
    background-color: var(--v-dark_l);
    height: 5vh;
    width: 100vw;
     
    display: flex;
    align-items: center;
    justify-content: center;   
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.button{
    border: none;
    background-color: white;
    color: var(--v-dark);
    padding: 10px;
    font-size: 1.5vh;
    font-weight: bold;
    border-radius: 6px;


    transition-duration: 0.2s;
    transition-property: color;
    transition-property: background-color;
}

.button:hover{
    border: none;
    background-color: var(--v-dark);
    color: white;
    padding: 10px;
}